body {
    background: rgb(241, 245, 156);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 400px;
    margin: 150px auto;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group input {
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #333;
    outline: none;
}

button {
    background-color: blue;
    color: white;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 12px;
    margin: 20px 0;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: rgb(0, 0, 160);
}

.link,
.forgot-link {
    text-align: center;
    margin-top: 10px;
}

.forgot-link {
    display: none;
}

.dashboard-text p {
    font-size: 18px;
    margin-bottom: 10px;
}
